<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nansoft.mipuribus"
    android:versionCode="11"
    android:versionName="4">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RutasActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.DescHoraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.HorariosActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SitiosInteresActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.HistoriaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TipoEventoActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.EventosActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.TipoEmpresaActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.EmpresasActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.NoticiaActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.HorarioBasuraActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.HorarioMisaActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".activity.ContactoActivity"></activity>

        <meta-data
            android:name="com.microsoft.applicationinsights.instrumentationKey"
            android:value="cd561eb3-629a-422f-8993-b91412f9c601" />

    </application>

</manifest>
